<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="appdev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <appdev.Properties.Settings>
            <setting name="setURL" serializeAs="String">
                <value>google.com</value>
            </setting>
            <setting name="selectedPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedSizeWidth" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="selectedSizeHeight" serializeAs="String">
                <value>715</value>
            </setting>
            <setting name="toggleResizing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stripeUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="stripeSelectedCard" serializeAs="String">
                <value />
            </setting>
            <setting name="lvSelectedIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="stripeSubscriptionID" serializeAs="String">
                <value />
            </setting>
        </appdev.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>